*{
    font-family: sans-serif;
}

:root{
    --bgBody: #181818;
    --bgTeam:#404040;
    --body: rgb(27, 27, 27);

}

body {
    background-color: var(--body);
}
#top-box{
    color: white;
    font-size: 25px;
    background-image: url(/assets/Images/football-field.jpg);
    background-size: cover;
    min-height: 400px;

}

.drop-down{
    height: 100px;
    width: 250px;
    font-size: 25px;
}
.label{
    font-size: 30px;
   
}


.game-info {
    line-height: 4.5;
   
}
.s1 {
    background-color: var(--bgTeam);
    color:white;
    overflow: auto;
}

.s2 {
    background-color: var(--bgTeam);
    color:white;
    overflow: auto;
}
.game-info img{
    margin-top:24px;
    height: 60px;
    width: 60px;
    
}

h2.stadium-name{
    width: 400px;

}

.news-section{
    font-size: 30px;   
    
}

.news{
    line-height: 2;
}
.theme-dot{
    height: 35px;
    display:flex;
    width: 35px;
    border-radius: 50%;
    background-color: white;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;

}
.left-column{
    background-color: var(--BgTeam);
}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: whitesmoke;
}
#dark-mode{
    background-color: #181818;
}
#url-content0:hover, #url-content1:hover, #url-content2:hover{
    color:purple;
    text-decoration: underline;
}
.team-menu h5{
    font-size: 25px;
    font-weight: 600;
   margin-top: 20px;
}
.team-menu h5{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.left-column p{
    margin-left: 50px;
}

@media screen and (max-width: 500px){
    section.hero{
        display: flex;
        flex-direction: column;
    
    }

    
}

@media screen and (max-width: 970px){
    h2.stadium-name{
        width: 300px;
        text-align: center;
    
    }
    
}

@media screen and (max-width: 800px){
    h2.stadium-name{
        width: 300px;
        text-align: center;
    
    }
    .hero{
        font-size: 20px;
        
    }
    .game-info{
        font-size: 15px;
        line-height: 3.50;
    }
    .left, .right{
        font-size: 20px;
    }
    .game-info img{
        margin-top:auto;
        height: 60px;
        width: 60px;
        
    }
    .team-menu{
        font-size: 15px;
        width: 136px;
        height: 50px;
        
    }
    .drop-down-title{
        font-size: 15px;
        
    }
    .drop-down{
        font-size: 10px;
        width: 85px;
        
    }
    .news-section{
        font-size: 13px;
    }
    
}