*{
    font-family: sans-serif;
}
:root{
    --bgBody:rgb(245, 245, 245);
    --bg2:#404040;
    --body: rgb(255, 255, 255)smoke;
    --labelText: rgb(0, 0, 0);
}

body {
     background-color: var(--body);
}
select{
    color:black;
}
#top-box{
    color: white;
    font-size: 25px;
    background-image: url(./football-app-project-1/assets/Images/football-field.jpg);
    background-size: cover;
    min-height: 400px;

}

.drop-down{
    height: 100px;
    width: 250px;
    font-size: 25px;
}
.label{
    font-size: 30px;
    color:black;
   
}


.game-info {
    line-height: 4.5;
   
}

.game-info img{
    margin-top:24px;
    height: 60px;
    width: 60px;
    
}

h2.stadium-name{
    width: 400px;

}

.news-section{
    font-size: 30px;   
    
}

.news{
    line-height: 2;
}
.theme-dot{
    height: 45px;
    display:flex;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    font-size: 25px;

    margin: 8px;
    border: 2px solid var(--themeDotBorder);


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;

}
.theme-dot p{
    padding-left: 15px;
}
.season-schedule p{
    font-size: 25px;
}
.s1 {
    background-color: var(--bgBody);
    
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    
    overflow: auto;
}
.left-column{
    background-color: var(--Bg2);
}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: whitesmoke;
}
#dark-mode{
    background-color: #181818;
}
#url-content0:hover, #url-content1:hover, #url-content2:hover{
    color:purple;
    text-decoration: underline;
}
.team-menu h5{
    font-size: 25px;
    font-weight: 450;
    margin-top: 20px;
}

.left-column p{
    margin-left: 50px;
}

@media screen and (max-width: 500px){
    section.hero{
        display: flex;
        flex-direction: column;
    
    }
    
    .team-menu h5{
        font-size: 13px;
        margin-bottom: 9px;
    }
    .team-menu p{
        font-size: 10px;
    }
    .theme-dot{
        height: 22px;
        width: 22px;
    }
    aside.s2{
        min-height: 300px;
        
    }
    aside.s2 h2{
        padding: 0px;
    }
    .team-drop{
        padding: 0px;
    }
    .drop-down{
        margin-bottom: 30px;
    }
   
    
}

@media screen and (max-width: 970px){
    h2.stadium-name{
        width: 300px;
        text-align: center;
    
    }
    .team-menu h5{
        font-size: 13px;
        margin-bottom: 9px;
    }
    .team-menu p{
        font-size: 10px;
    }
    .theme-dot{
        height: 22px;
        width: 22px;
    }
    
}

@media screen and (max-width: 800px){
    h2.stadium-name{
        width: 300px;
        text-align: center;
    
    }
    .hero{
        font-size: 20px;
        
    }
    .game-info{
        font-size: 15px;
        line-height: 3.50;
    }
    .left, .right{
        font-size: 20px;
    }
    .game-info img{
        margin-top:auto;
        height: 60px;
        width: 60px;
        
    }
    .team-menu{
        font-size: 13px;
        width: 136px;
        min-height: 100px;
        
    }
    .team-menu h5{
        font-size: 13px;
    }
    .drop-down-title{
        font-size: 15px;
        
    }
    .drop-down{
        font-size: 10px;
        width: 80px;
        
    }
    .news-section{
        font-size: 13px;
    }
    aside.s2{
        min-height: 484px;
        
    }
    aside.s2 h2{
        padding-top: 40px;
    }
    .team-drop{
        padding: 0px;
    }
    .drop-down{
        margin-bottom: 30px;
    }
    
   
}
